<table border="0" cellpadding="1" cellspacing="1" style="width: 600px;background-color:#EDEEF2;">
	<tbody>
		<tr>
			<td align="center">
				<table border="0" cellpadding="1" cellspacing="1" style="width: 400px;text-align:left;background-color:#FFFFFF;padding-left:10px;padding-right:10px;">
					<tbody>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;">Dear Organizer,</span></span></p></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							<p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;">This user is interested in the below exhibitor(s):</span></span></p>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;">User Name : <strong>{%=username%}</strong></span></span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;">{%=exhibitorlist%}</span></span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							<p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;">Regards,</span></span></p>
							<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 13px;"><em>Admin Team</em></span></span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>