﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Site.master" AutoEventWireup="true" CodeFile="TimeSchedule.aspx.cs" Inherits="Admin_TimeSchedule" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:CheckBoxList ID="CheckBoxList1" required="" runat="server">
        <asp:ListItem>A</asp:ListItem>
        <asp:ListItem>A</asp:ListItem>
        <asp:ListItem>A</asp:ListItem>
    </asp:CheckBoxList>
    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="CheckBoxList1" ErrorMessage="RequiredFieldValidator"></asp:RequiredFieldValidator>
    <asp:Button ID="Button1" runat="server" OnClick="Button_Click" Text="Button" />
</asp:Content>

