﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UPDATE.aspx.cs" Inherits="Admin_UPDATE" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:button runat="server" OnClick="btn_click" text="Button" />
        <asp:Label ID="lblcount" runat="server"></asp:Label>
        <br />
        <asp:Label ID="lblIDs" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>

