﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/Site.master" CodeFile="editQA.aspx.cs" Inherits="editQA" %>

<asp:Content ID="Content" ContentPlaceHolderID="MainContent" Runat="Server">    
    <div class="flex-grid">
    <br />
        <div class="row">
            <div class="cell colspan1"></div>
            <div class="cell colspan10">
                <div class="input-control textarea" style="width:100%">
                    <asp:TextBox ID="QATitle" runat="server" Rows="8" TextMode="MultiLine" MaxLength="250"></asp:TextBox>
                </div>
            </div>
            <div class="cell colspan1"></div>
        </div>
        <div class="row">
            <div class="cell colspan1"></div>
            <div class="cell colspan10">
                <asp:Button ID="Button1" runat="server" Text="Submit" onclick="Button1_Click" />
            </div>
            <div class="cell colspan1"></div>
        </div>
        <br />
    </div>
</asp:Content>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            height: 16px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
        <asp:TextBox ID="QATitle" runat="server" Rows="8" TextMode="MultiLine" 
            Width="500px" MaxLength="250"></asp:TextBox>
      </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="style1"></td>
  </tr>
</table>
    </div>
    <asp:Button ID="Button1" runat="server" Text="Submit" onclick="Button1_Click" />
    </form>
</body>
</html>--%>
