﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SQADetail.aspx.cs" Inherits="SQADetail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Content/css/backlayout.css" rel="stylesheet" type="text/css" />
    
    
</head>
<body>
    <form id="form1" runat="server">   
     <br /><br /><br /><br /><br /><br />
        <div class="square">        
                <div class="sq2">                
                    <asp:Label ID="LabDetail" Font-Size="29px" runat="server" Text=""></asp:Label>
                </div>        
        </div>
    </form>
</body>
</html>
